@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #2f302c;
}

.header {
	padding: 30px 0;
	background: linear-gradient(0deg, rgba(242, 255, 0, 1) 0%, rgba(0, 38, 252, 1) 96%);
}

.header__title {
	font-size: 96px;
	font-weight: 800;
	text-align: center;
	line-height: 1.4;
	color: rgb(96, 96, 244);
	text-shadow: 8px 8px rgba(0, 0, 0, 0.477);
}

.game-map {
	background-image: url('../img/map.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: calc(100vh - 194px);
}


.game-map__dno-image::before {
	content: '';
	display: block;
	position: absolute;
	background-image: url("../img/piksel-art.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	height: 265px;
	width: 450px;
	top: 0;
	right: 0;
	border-radius: 430px 50% 0px 0px;
}

.game-map__himars {
	background-image: url('../img/himars.png');
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	position: absolute;
	height: 265px;
	width: 450px;
	bottom: 0;
	left: 0;
}

.game-map__rockets {
	background-image: url("../img/rockets.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 300px;
	height: 200px;
	position: absolute;
	visibility: hidden;
}

.game-map__rockets--1 {
	bottom: 215px;
	left: 210px;
}

.game-map__himars:hover+.game-map__rockets--1,
.game-map__rockets--1:hover {
	visibility: visible;
}

.game-map__rockets--2 {
	bottom: 363px;
	left: 483px;
}

.game-map__rockets--1:hover+.game-map__rockets--2,
.game-map__rockets--2:hover {
	visibility: visible;
}



.game-map__rockets--3 {
	left: 738px;
	bottom: 509px;
}

.game-map__rockets--2:hover+.game-map__rockets--3,
.game-map__rockets--3:hover {
	visibility: visible;
}

.game-map__rockets--4 {
	left: 750px;
	bottom: 500px;
}

.game-map__rockets--3:hover+.game-map__rockets--4,
.game-map__rockets--4:hover {
	visibility: visible;
}

.game-map__rockets--5 {
	left: 995px;
	bottom: 655px;
}

.game-map__rockets--4:hover+.game-map__rockets--5,
.game-map__rockets--5:hover {
	visibility: visible;
}

.game-map__rockets--6 {
	left: 1250px;
	bottom: 800px;
}

.game-map__rockets--5:hover+.game-map__rockets--6,
.game-map__rockets--6:hover {
	visibility: visible;
}

.game-map__rockets--7 {
	left: 1509px;
	bottom: 943px;
}

.game-map__rockets--6:hover+.game-map__rockets--7,
.game-map__rockets--7:hover {
	visibility: visible;
}

.game-map__fire {
	display: block;
	position: absolute;
	background: url("../img/kreml_fire.jpg"), url('../img/pukin_zdox.jpg');
	background-repeat: no-repeat, no-repeat;
	background-size: contain, 300px 300px;
	background-position: right top, 250px 320px;
	height: 600px;
	width: 600px;
	top: 0;
	right: 0;
	visibility: hidden;
	border-radius: 15px;
}

.game-map__rockets--7:hover+.game-map__fire,
.game-map__fire:hover {
	visibility: visible;
}

/* Домашку по побудові списку випадково зробив в ДЗ №6 */